<h1>Restaurant Details</h1>
<hr>

<h2><%= @restaurant.name %></h2>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone Number:</strong><%= @restaurant.phone_number%></p>
<p><strong>Category:</strong><%= @restaurant.category%></p>
<br>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant.id) %>

<hr>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review|  %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
